.container{
    display: flex;
    &__image{
        z-index: 500;
        width: 80px;
    }
    &__textcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 10px 0px;
        width: 200px;
        text-align: center;
        &__number{
            width: fit-content;
            padding-bottom: 1px;
            margin-bottom: 5px;
            font-weight: 900;
            font-size: 40px;
            
        }
        &__title{
            width: fit-content;

            font-size: 25px;
            margin-top: 0;
            padding: 0;
        }
    }
}