@import "../../GeneralScss/variables";
@import "../../GeneralScss/common";

.topWrapper{
    margin-top: 50px;
    height: 250px;
    background-size: fill;
    background-position-y:60% ;
    background-image: url("https://i.ytimg.com/vi/s8XXqCY_WRU/maxresdefault.jpg");
}
.container{
    background-color: $primaryDarkTransparent;
    width: 100%;
    height: 100%;
}

.bottom{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: $primaryVeryDark;

    span{
        margin: 0 10px;
    }
}