@mixin cardify {
    box-shadow:0px 0px 18px 0px #0000004a ;
    padding: 10px;   
}

@mixin  important {
    font-weight: 900;
    color: $primaryLight;
}


@mixin headline {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}