$primaryLight : #00af91;
$primaryDark : #007965;
$primaryDarkTransparent : #0079659a;
$primaryVeryDark : #004237;
$secondary : #f58634;
$accent : #ffcc29;
$grayText:rgb(100, 100, 100);
$black:rgb(37, 37, 37);

