@import "../../GeneralScss/variables";
@import "../../GeneralScss/common";

.link{
    text-decoration: none !important;
    min-width: 333px;
}

.container{
    color: $black;
    max-width: 397px;
    box-shadow: 0px 0px 8px #00000056;
    transition: all 0.5s ease;
    &:hover{
        box-shadow: 1px 1px 15px #00000031;
        z-index: 100;
        transform: scale(1.05);
    }

    &__imgContainer{
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }

    &__address{
        color: $grayText;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        img{
            width: 20px;
            margin: 0;
            padding: 0;
          }
        span{
            font-size: 14px;
            margin-inline-start: 10px;
        }
    }

    &__main{
        padding: 15px;
    }

    &__necessities{
        margin-top: 30px;
        display: flex;
        div{
            margin-inline-end: 30px;
        }
    }

}

.link{
    text-decoration: none;
}